//colors
//blue
$blue-1: #0466c8;
$blue-2: #0353a4;
$blue-3: #023e7d;
//navy
$navy-1: #002855;
$navy-2: #001845;
$navy-3: #001233;
//grey
$grey-1: #979dac;
$grey-2: #7d8597;
$grey-3: #5c677d;
$grey-4: #33415c;

@mixin respond($size) {
  @if $size== "middle" {
    @media (min-width: 600px) {
      @content;
    }
  }
  @if $size== "large" {
    @media (min-width: 800px) {
      @content;
    }
  }
}
